html, body {
    margin: 0;
    padding: 0;
}


.container {
    display: flex;  
}

.box {
    height: 100vh;
    width: 100%
}

.text {
    cursor: url("cursor/cursor copy.png"), auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a:hover{
    cursor: url("cursor/hand.png"), auto;
}
