body {
  font-family: "Noto Serif JP", serif; /* Applying Great Vibes font */
  margin: 0 auto;
  height: 90vh;
  background-color: rgb(255,231,222);
}


.popup {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  font-family: "Noto Serif JP", serif;
}

.popup-content {
  text-align: center;
}

.name-bar{
  flex: 1;
  height: 3em;
  width: 15em;
  font-size: 150%;
  border-radius: 3px;
  border: 2px solid rgb(196, 173, 122);
  box-shadow: 0px 4px 8px;
  text-align: center;
  font-family: "Noto Serif JP", serif;
}

input:focus {
  outline: none;
}

